@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-family: 'Barlow Condensed', sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

#footer {
    background-color: #ececec;
    color: #212529;
    line-height: 1;
    height: 70px;
    width: calc(100% + 3em);
    left: 0;
    font-size: 12px;
    position: fixed;
    z-index: 3000;
    bottom: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  font-family: 'Antic Didone', serif;
  font-style: normal;
  font-weight: 100;
  padding: 0 0 0 0;
  font-size: 150px;
    line-height: .86;
    margin-bottom: 10px;
    width: 550px;
    letter-spacing: -5px;
}

h2 {
  font-family: 'Antic Didone', serif;
  font-size: 65px;
    line-height: .85;
    margin-bottom: 30px;
    letter-spacing: 0;
}

.info-article {
  padding: 1rem 5rem 0 4rem;
  height: auto;
  display: block;
  position: relative;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }


}

@media (max-width: 1023px) {
  #app {
    padding: 0 1rem;
  }
}
